body{
    background-color: rgb(11, 101, 71);
    display: flex;
    align-items: center;
    justify-content: end;
}

.text{
 margin: 20px;
 color: rgb(18, 223, 206);

}

button{
    margin: 20px;
    padding: 5px;
    width: 50px;
    height: 30px;
    background-color: rgba(44, 132, 190, 0.828);
    border-radius: 20px;
    color: rgb(255, 206, 146);
    border: 2px solid rgb(87, 87, 87);
}

button:hover{
    background-color: rgba(44, 132, 190, 0.888);
    color: rgb(255, 255, 255);
    transition-duration: 1000ms;
    border: 1px solid rgba(0, 0, 0, 0.617);
    
}
.submit{
    padding: 4px;
}